
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu { margin: 0;padding: 0; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details { display: block; }
table { border-collapse: collapse;border-spacing: 0; }
caption,th { text-align: left;font-weight: normal; }
html,body,fieldset,img,iframe,abbr { border: 0; }
[hidefocus],summary { outline: 0; }
li { list-style: none; }

a,a:hover {
    text-decoration: none;
    color: #999;
}

html,body {
    margin: 0 auto;
    font: 12px/1.2 'Helvetica Neue', 'PingFang SC', 'HanHei SC', sans-serif;
    color: #333;
    word-wrap: break-word;
    word-break: break-word;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 去掉a、input和button点击时的蓝色外边框和灰色半透明背景 */
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}

body {
    background-color: #fbfcfd;
    user-select: none;
}

html[class="no-hairline"] {
    .hairline {
        border-width: 1px !important;
    }
}
